#para {
  text-align: center;
  text-decoration: blink;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#para.hover {
  color: coral;
  font-weight: bold;
}

html{
	background: url(img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
body{
	margin: 0;
}
.container{
	width: 500px;
	height: 740px;
	text-align: center;
	background-color: rgba(52, 78, 94, 0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
	
	
}
.login{
	width: 500px;
	height: 450px;
	text-align: center;
	background-color: rgba(52, 78, 94, 0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
	
	
}
.login img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
		
}
.container img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
		
}
input[type="text"], input[type="password"]{
	height: 55px;
	width: 300px;
	font-size: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
	border-radius: 3px;
	
}
form-input:before{
	background:url(images/realplain.png);
	content: "\f007";
	position: absolute;
	font-family: sans-serif;
	font-size: 30px;
	color: #985986;
	padding-top: 5px;
	font-size: 35px;
}
.btn-login{
	padding: 15px 25px;
	color: #fff;
	background-color: #2ECC71;
	border: none;
	border-radius: 3px;
	border-bottom: 3px solid #27AE60;
	
	
}
.btn-login:hover{
	color: #27AE60;
	
}
a{
	text-decoration: blink;
	color: whitesmoke;
	font-family: sans-serif;
	margin-top: 20px;
	
}
a:hover{
	color: coral;
	font-weight: bold;

}


















